@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.bg__navbar {
  background-image: url("/app/bg-navbar.jpg");
  background-position: center;
}


.container {
  @apply  max-w-7xl mx-auto;
}

.text__logo {
  font-family: 'Permanent Marker';
}

.title {
  @apply text-2xl font-bold italic
}
